{% extends "base.html"%}
{% block body_block %}
    <div class="jumbotron">
        <h1>Blog List</h1>

    </div>
    {% if blog_list %}
        <ul class="list-group">
            {% for blog in blog_list %}
                <li class="list-group-ite">
                    <a href="{{blog.get_absolute_url}}">{{blog.name}}</a>({{blog.post_date}})-<a href="{% url 'blogs-by-author' blog.author.pk %}">{{ blog.author }}</a>
                </li>
            {% endfor %}

        </ul>
        {% else %}
        <p>There are no blogs available</p>
    
    {% endif %}

{% endblock %}